<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rai4 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="es.unican.istr.rai4.presentation.Rai4ModelWizardID"
            name="%_UI_Rai4ModelWizard_label"
            class="es.unican.istr.rai4.presentation.Rai4ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Rai4ModelFile.gif">
         <description>%_UI_Rai4ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rai4 -->
      <editor
            id="es.unican.istr.rai4.presentation.Rai4EditorID"
            name="%_UI_Rai4Editor_label"
            icon="icons/full/obj16/Rai4ModelFile.gif"
            extensions="rai4"
            class="es.unican.istr.rai4.presentation.Rai4Editor"
            contributorClass="es.unican.istr.rai4.presentation.Rai4ActionBarContributor">
      </editor>
   </extension>

</plugin>
