<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rai4 -->
      <package
            uri="www.unican.es/istr/rai4"
            class="es.unican.istr.rai4.Rai4Package"
            genModel="model/rai4.genmodel"/>
   </extension>

</plugin>
