<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component
      class="es.unican.istr.rai4.design.Activator"
      id="es.unican.istr.rai4.design"
      name="rai4"
      odesign="description/Rai4.odesign">
    </component>
  </extension>
</plugin>