# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial synchronization phase can take
initLimit=5

# The number of ticks that can pass between sending a request and getting an acknowledgement
syncLimit=3

# the port at which the clients will connect
clientPort=2018

# Leader election settings
leaderServers=yes

# Server definitions
# Server ID (used for leader election)
myid=0

# Peer and leader ports
peerPort=2318
leaderPort=2048

# Data directory - depends on deployment type
dataDir=/home/gestor/apache/Services/zookeeper/data
